<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Portfolio</title>
    <link type="image/png" sizes="16x16" rel="icon" href="/icons/icons8-resume-color-16.png">
    <link type="image/png" sizes="32x32" rel="icon" href="/icons/icons8-resume-color-32.png">
    <link type="image/png" sizes="96x96" rel="icon" href="/icons/icons8-resume-color-96.png">
    <link rel="stylesheet" href="/css/home.css">
    <script src="/scripts/jquery-3.4.1.min.js"></script>
    <script src="/scripts/chart.min.js"></script>
    <script src="/scripts/home.js"></script>
</head>
<body class="fx">
    <div class="bg-layer"></div>

    <div class="image_view fx fdc aic" style="display: none">
        <div class="im_container fx fdc aic">
            <span class="close">x</span>
        </div>
    </div>

    <div id="obj_3d_view"></div>

    <main class="fx aic">
        <aside class="fx aic">
            <nav>
                <ul class="df">
                    <li class="active">
                        <img src="icons/navigation_about.png" alt="">
                        <span>about</span>
                    </li>
                    <li>
                        <img src="icons/navigation_resume.png" alt="">
                        <span>resume</span>
                    </li>
                    <li>
                        <img src="icons/navigation_works.png" alt="">
                        <span>portfolio</span>
                    </li>
                    <li>
                        <img src="icons/navigation_contact.png" alt="">
                        <span>contact</span>
                    </li>
                </ul>
            </nav>

            <section id="card" class="bgw fx fdc">
                <div class="portrait fx fdc">
                    <svg xmlns="http://www.w3.org/2000/svg" width="429.96" height="54.488" viewBox="0 0 429.96 54.488">
                        <path id="Path_1" data-name="Path 1" d="M4,234.151c-221.344,75.894-429.96-5.189-429.96-5.189V283.45H4Z" transform="translate(425.96 -228.961)" fill="#fff"/>
                    </svg>
                </div>
                <div class="info fx fdc aic jcc">
                    <h1 class="df">PADMAKUMAR</h1>
                    <h3>Product Visualization Specialist</h3>

                    <ul class="social_media fx fdr aic">
                        <li><a href="https://www.linkedin.com/in/padmakumarks/" target="_blank">
                            <img src="icons/sc_linkedin.png" alt="">
                        </a></li>
                        <li><a href="https://www.instagram.com/pixels_painted/" target="_blank">
                            <img src="icons/sc_instagram.png" alt="">
                        </a></li>
                        <li><a href="https://www.behance.net/padmakumar843b" target="_blank">
                            <img src="icons/sc_behance.png" alt="">
                        </a></li>
                        <li><a href="mailto:padmakumar.ks@icloud.com">
                            <img src="icons/sc_mail.png" alt="">
                        </a></li>
                        <li><a href="tel:919966822579">
                            <img src="icons/sc_call.png" alt="">
                        </a></li>
                    </ul>

                    <button class="df">contact me</button>
                </div>
            </section>
        </aside>

        <section class="bgw fx fdc">
            <header class="fx aic">
                <h2 class="section_target about about">About Me</h2>
                <h2 class="section_target resume">Resume</h2>
                <h2 class="section_target portfolio">Portfolio</h2>
                <nav class="section_target portfolio">
                    <ul class="fx fdr">
                        <li class="projects active">Projects</li>
                        <li class="images">Image Board</li>
                        <li class="art">My Sketches</li>
                    </ul>
                </nav>
                <h2 class="section_target contact">Hello !</h2>
            </header>

            <div class="shader_line"></div>

            <article id="about" class="active">
                <h4>"Hello! I'm PADMAKUMAR.</h4>

                <p>I have a degree in Mechanical Engineering.</p>

                <p>I have been working in the design engineering industry since 2005 and had the opportunity to get involved in various product/system design projects for industries like Aerospace and Medical. I have developed the skills to convey the design concepts and build detailed engineering design through 3D CAD systems (Reverse Engineering, Surface Modelling).</p>

                <p> I discovered that I have a considerable level of ability to convey object forms visually through sketches and rendering. This helped me to also get involved in product visualization for client presentations. From then onwards I was eagerly looking for an opportunity in visualization (product / ArchViz)</p>

                <p>Currently I am looking for fulltime employment opportunities and willing to relocate to any European, North American or South East Asian countries.</p>

                <p>I am looking forward to talking to you! Thanks!"</p>


                <p>Padmakumar</p>

            </article>

            <article id="resume">
                <div class="fx fdc content resume">
<!--                    <div class="fx fdc col">-->
                    <h4>Experience</h4>
                    <div class="entry fx fdc">
                        <span><strong>Year: </strong>[07/2020 - Present]</span>
                        <span><strong>Role: </strong>Product Visualization Specialist</span>
                        <div class="fx">
                            <span><strong>Organization: </strong></span>
                            <span style="margin-left: 5px">Freelance</span>
                        </div>
                        <span><strong>Role Description:</strong></span>
                        <ul>
                            <li>Create 3D models (CAD / Polygon (Subd)) from photographs or sketches</li>
                            <li>Create UV maps and Textures</li>
                            <li>Lighting, Shading and Rendering using Vray render engine</li>
                        </ul>
                    </div>
                    <div class="entry fx fdc">
                        <span><strong>Year: </strong>[02/2015 - 07/2020]</span>
                        <span><strong>Role: </strong>Senior Associate</span>
                        <div class="fx">
                            <span><strong>Organization: </strong></span>
                            <span style="margin-left: 5px">Cognizant Technology Solutions Pvt. Ltd.</span>
                        </div>
                        <span><strong>Role Description:</strong></span>
                        <ul>
                            <li>Build a physically viable design from concept ideas</li>
                            <li>Develop concepts for Medical devices, build proof of concept prototypes for voice of the customer</li>
                            <li>Product bench marking [product tear down/ gap analysis/propose new design configuration based on benchmark analysis]</li>
                        </ul>
                    </div>
                    <div class="entry fx fdc">
                        <span><strong>Year: </strong>[08/2008 - 06/2012]</span>
                        <span><strong>Role: </strong>Senior Design Engineer</span>
                        <span><strong>Organization: </strong>Goodrich Aerospace Pvt. Ltd.</span>
                        <span><strong>Role Description:</strong></span>
                        <ul>
                            <li>Design and manufacturing support for emergency evacuation slides and their packing systems</li>
                        </ul>
                    </div>
                    <div class="entry fx fdc">
                        <span><strong>Year: </strong>[01/2007 - 08/2008]</span>
                        <span><strong>Role: </strong>Associate IT Consultant</span>
                        <span><strong>Organization: </strong>ITC InfoTech India Ltd</span>
                        <span><strong>Role Description:</strong></span>
                        <ul>
                            <li>Provide Design and Engineering solutions to various clients</li>
                        </ul>
                    </div>
                    <div class="entry fx fdc">
                        <span><strong>Year: </strong>[11/2005 - 01/2007]</span>
                        <span><strong>Role: </strong>Mechanical Engineer</span>
                        <span><strong>Organization: </strong>Cimtech Systems Pvt. Ltd</span>
                        <span><strong>Role Description:</strong></span>
                        <ul>
                            <li>Design, build and test functional prototype of Industrial Design coolers for The Coca Cola Company</li>
                        </ul>
                    </div>

                    <h4 class="education">Education</h4>
                    <div class="entry fx fdc">
                            <span>Bachelors in Technology: Mechanical Engineering</span>
                        </div>
                </div>

                <h2>Skills</h2>
                <div class="shader_line"></div>
                <div class="fx content skills">
                    <div class="fx fdc col">
                        <h4>Design</h4>
                        <div class="fx entry">
                            <span>Computer Aided Design<br><label>- Creo Parametric</label></span>
                            <div><canvas id="resume_chart_1" width="45" height="45"></canvas></div>
                        </div>
                        <div class="fx entry">
                            <span>Computer Aided Industrial Design <br><label>- Alias Design</label></span>
                            <div><canvas id="resume_chart_2" width="45" height="45"></canvas></div>
                        </div>
                        <div class="fx entry">
                            <span>Computer Aided Engineering <br><label>- Ansys Workbench (Thermal)</label></span>
                            <div><canvas id="resume_chart_3" width="45" height="45"></canvas></div>
                        </div>
                        <div class="fx entry">
                            <span>Digital Rendering <br><label>- Photoshop</label><br><label>- Keyshot</label></span>
                            <div><canvas id="resume_chart_4" width="45" height="45"></canvas></div>
                        </div>
                        <div class="fx entry">
                            <span>Analog Rendering <br><label>- Sketching & Rendering</label></span>
                            <div><canvas id="resume_chart_5" width="45" height="45"></canvas></div>
                        </div>
                    </div>
                    <div class="shader_line"></div>
                    <div class="fx fdc col">
                        <h4>Coding</h4>
                        <div class="entry arduino">
                            <span>Arduino [Coding & Hardware]</span>
                            <div class="horizontalBar"><div class="filler"></div></div>
                        </div>
                        <div class="shader_line"></div>

                        <h4>Languages</h4>
                        <div class="entry english">
                            <span>English [IELTS Score- 7/9]</span>
                            <div class="horizontalBar"><div class="filler"></div></div>
                        </div>
                        <div class="shader_line"></div>

                        <h4>Knowledge</h4>
                        <div class="entry product_design">
                            <span>Product Design</span>
                            <div class="horizontalBar"><div class="filler"></div></div>
                        </div>
                    </div>
                </div>
            </article>

            <article id="portfolio">
                <section class="projects active">
                    <div class="row">
                        <h3 style="font-weight: 400;">PROJECT COLD COMFORTS</h3>
                        <div class="fx fdr">
                            <div class="pics fx">
                                <div class="pic">
                                    <div id="res_pr_0" class="frame" style="background-image: url('images/projects/proj_0/0.png')"></div>
                                    <label>Project Cold Comforts - Product Design</label>
                                </div>
                            </div>
                            <div class="pics fx">
                                <div class="pic">
                                    <div id="res_pr_1" class="frame" style="background-image: url('images/projects/proj_1/slide_cover.png')"></div>
                                    <label>Project Cold Comforts - Development workflow</label>
                                </div>
                                <!--                            <div class="pic">-->
                                <!--                                <div id="res_pr_2" class="frame" style="background-image: url('images/projects/pr_2.jpg')"></div>-->
                                <!--                                <label>This presentation discuses about the design aspects of the product</label>-->
                                <!--                            </div>-->
                            </div>
                        </div>
                    </div>
                </section>
                <section class="images fx fdc">
                    <p>Project work presented here is the design and functional prototyping of a cooling system for Helmets.</p>
                    <div class="pics fx">
                        <div id="res_ib_2" class="frame" style="background-image: url('images/image_board/2.jpg')"></div>
                        <div id="res_ib_10" class="frame" style="background-image: url('images/image_board/10.jpg')"></div>
                        <div id="res_ib_9" class="frame" style="background-image: url('images/image_board/9.jpg')"></div>
                        <div id="res_ib_3" class="frame" style="background-image: url('images/image_board/3.jpg')"></div>
                        <div id="res_ib_5" class="frame" style="background-image: url('images/image_board/5.jpg')"></div>
                        <div id="res_ib_1" class="frame" style="background-image: url('images/image_board/1.jpg')"></div>
                    </div>
                </section>
                <section class="art">
                    <div class="pics fx">
                        <div class="pic">
                            <div id="res_ar_1" class="frame" style="background-image: url('images/art/art-1.png')"></div>
                            <label>Model</label>
                        </div>
                        <div class="pic">
                            <div id="res_ar_2" class="frame" style="background-image: url('images/art/art-2.png')"></div>
                            <label>Native American Indian</label>
                        </div>
                        <div class="pic">
                            <div id="res_ar_3" class="frame" style="background-image: url('images/art/art-3.png')"></div>
                            <label>Abraham Lincoln</label>
                        </div>
                    </div>
                </section>
            </article>

            <article id="contact">
                <p>
                    As you can see that I have profile in a few social networking platforms and I would be happy to
                    connect you there. If you wanted to direct message me, you can do so below. I hope to hear from you!
                </p>
                <div class="fx">
                    <div>
                        <label>
                            First Name
                            <input type="text" name="first_name">
                        </label>
                    </div>
                    <div>
                        <label>
                            Last Name
                            <input type="text" name="last_name">
                        </label>
                    </div>
                </div>
                <div class="fx fdc">
                    <label>
                        Email
                        <input type="email" name="email">
                    </label>
                </div>
                <div class="fx fdc">
                    <label>
                        Message
                        <textarea name="message" cols="30" rows="7"></textarea>
                    </label>
                </div>
                <div id="recaptcha_contact_me"></div>
                <button>Submit</button>

                <div class="spacer" style="flex-grow: 1"></div>

                <div class="mid fx">
                    <a href="mailto:padmakumar.ks@icloud.com">
                        <img src="/icons/sc_mail.png" alt="">
                        padmakumar.ks@icloud.com
                    </a>
                    <a href="tel:919966822579">
                        <img src="/icons/sc_call.png" alt="">
                        +91-9966822579
                    </a>
                </div>

                <div class="spacer" style="flex-grow: 1"></div>

                <div class="fx fdc my_gmap">
                    <span>My current location:</span>
                    <iframe width="auto" height="270" style="border:0" loading="lazy" allowfullscreen
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAPgtWY_kKem2cYHWH7I5VLvkt4T1SJpSo&q=Whitefield,Bangalore&zoom=4">
                    </iframe>
                </div>
            </article>
        </section>
    </main>

    <input type="hidden" name="internal_nav_selection" id="internal_nav_selection" value="<%= internal_nav_selection %>">

    <script>
        var flag_captcha = false;
        var onloadCallback = function() {
            grecaptcha.render('recaptcha_contact_me', {
                'sitekey' : '6LfjMaIcAAAAAG0eCZzBV4ulmNlYE1b1_1QApfAR',
                'callback' : (response) => flag_captcha = response!== null,
                'expired-callback': () => flag_captcha = false
            });
        };
    </script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>

</body>
</html>